<?xml version="1.0" encoding="utf-8"?>
<!--
  Debug-only manifest overlay.
  Adds the WSCA_TEST intent filter for test automation via adb.
  This is NOT included in release builds.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- WSCA test automation (debug builds only) -->
            <intent-filter>
                <action android:name="org.sirosfoundation.sdk.sample.WSCA_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
