<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Invisible host for a FaceTec session, started by FaceTecIDVProvider. -->
        <activity
            android:name="org.siros.sdk.idv.facetec.FaceTecSessionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
